.center-column {
    padding: 4% 12% 2% 11%;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(255, 169, 169);
    height: 40vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .centered-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 58vh;
    padding-top: 3%;
    padding-bottom: 30%;
  }

  .log_but {
    background-color: rgb(255, 205, 155);
    padding: 4vh 1vw;
    position: absolute;
    margin-bottom: 10vh;
    top: 3vh;
    right: 2vw;
}