<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="centered-form">
    <div class="center-column">
      <h1 class="title"> UMich Email Verification Login </h1>
      <mat-form-field>
            <input matInput placeholder="Uniqname" formControlName="uniqname" required>
            <mat-error class="error" *ngIf="getControl('uniqname')?.hasError('required')">
                Required value
            </mat-error>
        </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
</form>