<div>
    <p class="dir"> Please check your email for a one time password (6-digit, numbers only) </p>
    <div class="outer">
        <div class="otp-input-container">
            <ng-container *ngFor="let control of otpControls; let i = index">
            <mat-form-field appearance="outline" class="otp-input-field">
                <input
                matInput
                type="text"
                maxlength="1"
                [id]="'otp-input-' + i"
                [formControl]="control"
                (input)="onInput(i)"
                (focus)="onFocus(i)"
                [class.active]="i === activeInputIndex"
                >
                <mat-error *ngIf="control.hasError('required')" class="error">!
                </mat-error>
            </mat-form-field>
            </ng-container>
        </div>
        <button mat-raised-button class="submit" color="primary" (click)="onSubmit()">Submit</button>
    </div>
</div>