.centered-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 3%;
    padding-bottom: 10%;
  }
  .title {
    padding-bottom: 2.5%;
    font-size: 2.4vw;
    font-weight: 500;
  }
  .center-column {
    padding: 4% 12% 2% 11%;
    display: flex;
    align-items: space-around;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(255, 169, 169);
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .center-column > * {
    margin-bottom: 2%;
  }
  .slider {
    padding-bottom: 1.5%;
  }
  