<form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="centered-form">
  <div class="center-column">
    <h1 class="title"> Add Event </h1>
    <mat-form-field>
      <input matInput placeholder="Event Name" formControlName="name" required>
      <mat-error *ngIf="getControl('name')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <textarea matInput placeholder="Event Description" formControlName="description"></textarea>
      <mat-error *ngIf="getControl('description')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <!-- input linked to given picker -->
      <input matInput [matDatepicker]="this_picker" formControlName="date" placeholder="Choose a date">
      <!-- calendar image linked to given picker: -->
      <mat-datepicker-toggle matSuffix [for]="this_picker"></mat-datepicker-toggle>
      <!-- name picker here:  -->
      <mat-datepicker #this_picker></mat-datepicker>
      <mat-error *ngIf="getControl('date')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>
    
    <!-- sp_field->(input form,toggle,ID) -->
    <mat-form-field>

      <input matInput [ngxMatTimepicker]="time_picker" formControlName="time" placeholder="Choose a time">
      <ngx-mat-timepicker-toggle class="time_picker" [for]="time_picker"></ngx-mat-timepicker-toggle>
      <ngx-mat-timepicker [minutesGap]="5" [enableKeyboardInput]="true" #time_picker></ngx-mat-timepicker>
      
      <mat-error *ngIf="getControl('time')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>

      
    
    <!-- <mat-form-field> -->
      <!-- <mat-label>Start Date</mat-label>
      <input matInput type="datetime-local" placeholder="Start date" formControlName="dateTime">
      <mat-error *ngIf="getControl('dateTime')?.hasError('required')">
        Required value
      </mat-error>
      <mat-hint><b>Date, Time: </b>
        (MM/DD/YYYY, HH:MM [AM/PM])</mat-hint>
    </mat-form-field> -->

    <div class="slider">
      <span><b>Duration:</b> 0.5 hrs</span>
      <mat-slider min="0.5" max="8" step="0.5" showTickMarks discrete [displayWith]="formatLabel" thumbLabel>
        <input matSliderThumb>
      </mat-slider>
      <span>8 hours</span>
    </div>

    <mat-form-field>
      <input matInput placeholder="Event Location" formControlName="location">
      <mat-error *ngIf="getControl('location')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Leader Name" formControlName="leader">
      <mat-error *ngIf="getControl('leader')?.hasError('required')">
        Required value
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Create Event</button>
  </div>
</form>
