<!-- event-waitlist.component.html -->
<div *ngIf="signedUp(); else elseBlock">
    <div *ngFor="let name of waitlist" class="mat-card">
        <mat-card>
        <p>{{ shouldRedact(name) ? 'Reserved' : name }}</p>
        <button
            *ngIf="!shouldRedact(name)"
            mat-button
            color="warn"
            (click)="cancelReservation(name)"
        >
            Cancel Reservation
        </button>
        </mat-card>
    </div>
</div>
<ng-template #elseBlock>
    <form class="form">
        <mat-form-field class="name">
        <input matInput placeholder="Your Name" name="name" required>
        </mat-form-field>
    
        <mat-form-field class="comments">
        <textarea matInput placeholder="Additional Comments" name="comments"></textarea>
        </mat-form-field>
    
        <button mat-raised-button color="primary" (click)="submitForm()">Sign Up</button>
    </form>
</ng-template> 
